<carousel>
  <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
     <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
       <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero4.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero5.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero6.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
  </slide>
</carousel>
<section>
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to eShop!!!</h1>
  </div>
</section>
<div class="container marketing">

   <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">Some players prefer to have the comfort, power and flexibility to choose a combination of features on a single string. For this, few tennis brands offer Hybrid Strings, which have one string for Mains and a different string for Crosses. Now, YOU can also create your very own hybrid string!

        To avail of this service at Sportsjam.in, add your favourite racquet in your order, along with Tennis String for Mains and Tennis String for Crosses (Hybrid Stringing). Please note that a good understanding of string features are required to achieve an optimum balance between comfort, durability, control and power</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 padding-left-20">
      <h2 class="featurette-heading ml-5">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead ml-5">Looking for Hiking Boots, Walking Shoes, Sandals or Outdoor Wear? Choose from a large range today.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/images/bslide2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">A huge collection of running shoes and sports equipments</p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/bslide3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
    </div>
  </div>

</div>
